// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/********************************************************top panel **************************************************/
#topscreen
{
  width:320px; 
  height:218px; 
  overflow: hidden;
  background-image: image-url("logo.png");
  background-color: #f8dce0;
}

#message
{
  width:160px; 
  height:218px; 
  overflow: hidden;
  background-color: #f8dce0;
  float:left;
}

#cat
{
  width:160px; 
  height:218px; 
  overflow: hidden;
  background-color: #f8dce0;
  float:left;
}



/********************************************************speech css for balloon**************************************************/

p.speech
{
  position: relative;
  width: 130px;
  height: 150px;
  text-align: center;
  line-height: 50px;
  background-color: #fff;
  border: 5px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}


p.speech:before
{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 50px;
  top: 150px;
  border: 15px solid;
  border-color: #666 transparent transparent #666;
}

p.speech:after
{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 58px;
  top: 150px;
  border:10px solid;
  border-color: #fff transparent transparent #fff;
}


/*******************************************************bottom panel -  Talk **************************************************/

#bottomscreen
{
  width:320px; 
  height:212px; 
  overflow: hidden;
  background-color: #f8dce0;
}

#menu
{
  width:320px; 
  height:42px; 
  overflow: hidden;
  background-color: #371B2C;
  padding: 4px;
}

#icon
{
  width:320;
  min-width:920px; 
  height:115px; 
  float:left;
  overflow: auto;
  overflow-x: scroll ; 
  overflow-y: hidden;
  background-color: #D1D6E7 ;
  padding-top: 15px;
}
#input
{
  width:320px; 
  height:37px; 
  overflow: hidden;
  background-color: #f8dce0;;
}

/*******************************************************bottom panel -  Task **************************************************/

#task-icon
{
  width:320;
  height:170px; 
  float:left;
  overflow: hidden;
  background-color:#9A7596 ;
  padding:4px;
}

.task-button
{
  width:55px;
  height:55px; 
  float:left;
  overflow: hidden;
  background-color: #FADBF7;
  border: solid #4E1249;
  padding: 4px;
  margin: 4px; 
}

/*******************************************************bottom panel -  Task - do  **************************************************/

#task-confirm
{
  width:320;
  height:170px; 
  float:left;
  overflow: hidden;
  background-color:#9A7596 ;
  padding:4px;
}

#task-confirm-message
{
  width:320;
  height:40px; 
  overflow: hidden;
  background-color:#9A7596 ;
  padding:4px;
  color:white;
  text-align: center;
}

#task-image-confirm
{
  width:320;
  height:40px; 
  overflow: hidden;
  background-color:#9A7590 ;
  padding:4px;
 text-align: center; 
}

#select-button
{
  width:310px;
  height:42px; 
  float:left;
  overflow: hidden;
  background-color: #FADBF7;
  border: solid #4E1249;
  text-align: center;
}


/*******************************************************PARENT SCREEN - child action **************************************************/
#iphonescreen
{
  width:320px; 
  height:420px; 
  overflow: hidden;
  background-image: image-url("iphone-bg.png");
  background-color: #f8dce0;
}
#child-action
{
  width:305px;
  height:355px; 
  float:left;
  overflow: auto;
  overflow-x: hidden ; 
  overflow-y: scroll;
  background-color:#9A7596 ;
  padding:4px;
}

#action
{
  width:300;
  height:30px; 
  overflow: hidden;
  background-color:#FADBF7 ;
  padding:4px;
  margin:10px;
  color:black;
  text-align: center;
}

/*******************************************************PARENT SCREEN - talk **************************************************/

#oya-talk
{
  width:305px;
  height:230px; 
  float:left;
  overflow: auto;
  overflow-x: hidden ; 
  overflow-y: scroll;
  background-color:#9A7596 ;
  padding:4px;
}
/********************************************msg - left**************************************************/
p.speech-l
{
position: relative;
width: 210px;
height: 90px;
padding: 0px;
background: #C6AFDD;
border: #173D41 solid 2px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

p.speech-l:after
{
content: "";
position: absolute;
top: 16px;
left: -15px;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #C6AFDD;
display: block;
width: 0;
z-index: 1;
}

p.speech-l:before
{
content: "";
position: absolute;
top: 15px;
left: -18px;
border-style: solid;
border-width: 16px 16px 16px 0;
border-color: transparent #173D41;
display: block;
width: 0;
z-index: 0;
}

/********************************************msg - right**************************************************/
p.speech-r
{
position: relative;
width: 210px;
height: 90px;
padding: 0px;
background: #EAD3C6;
border: #173D41 solid 2px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

p.speech-r:after
{
content: "";
position: absolute;
top: 16px;
right: -15px;
border-style: solid;
border-width: 15px 0 15px 15px;
border-color: transparent #EAD3C6;
display: block;
width: 0;
z-index: 1;
}

p.speech-r:before
{
content: "";
position: absolute;
top: 15px;
left: 212px;
border-style: solid;
border-width: 16px 0 16px 16px;
border-color: transparent #173D41;
display: block;
width: 0;
z-index: 0;
}



#icon-oya
{
  width:320;
  min-width:920px; 
  height:60px; 
  float:left;
  overflow: auto;
  overflow-x: scroll ; 
  overflow-y: hidden;
  background-color: #D1D6E7 ;
  padding-top: 3px;
  border: solid #4E1249;
  }

#input-oya
{
  width:320px; 
  height:57px; 
  overflow: hidden;
  background-color: #f8dce0;
  text-align:center;
}

/********************************************task list**************************************************/
#child-task
{
  width:310px;
  height:335px; 
  float:left;
  overflow: auto;
  overflow-x: hidden ; 
  overflow-y: scroll;
  background-color:#9A7596 ;
  padding:4px;
}

#task-item
{
  width:310;
  height:40px; 
  float:left ;
  overflow: hidden;
  background-color:#FADBF7 ;
  padding:1px;
  margin:5px;
  left-margin:10px;
  color:black;
  text-align: center;
}

#add-task
{
  width:320px; 
  height:30px; 
  overflow: hidden;
  background-color: #f8dce0;
  text-align:center;
}


/********************************************item list**************************************************/
#item-icon
{
  width:320;
  height:170px; 
  float:left;
  background-color:#9A7596 ;
  padding:4px;
  overflow: auto;
  overflow-x: scroll ; 
  overflow-y: hidden;
}

.item-button
{
  width:55px;
  height:55px; 
  float:left;
  overflow: hidden;
  background-color: #FADBF7;
  border: solid #4E1249;
  padding: 4px;
  margin: 4px; 
}

#coupon-list
{
  width:310px;
  height:140px; 
  float:left;
  overflow: auto;
  overflow-x: hidden ; 
  overflow-y: scroll;
  background-color:#9A7596 ;
  padding:4px;
}

#item-coupon
{
  width:310;
  height:30px; 
  float:left ;
  overflow: hidden;
  background-color:#FADBF7 ;
  padding:1px;
  margin:5px;
  left-margin:10px;
  color:black;
  text-align: center;
}